* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #cac2c2;
}

nav {
  background-color: rgb(41, 59, 59);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
}

nav ul {
  display: flex;
  align-items: center;
  justify-items: center;
  list-style: none;
}
a {
  text-decoration: none;
}

nav ul li,
a {
  margin-left: 20px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

nav ul li:hover {
  transform: scale(0.9);
}

header {
  background: url(./Medias/2015-Red-Ford-Mustang-Side-Angle-Wallpaper-HD-24.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-items: start;
  height: 100vh;
  overflow: hidden;
}

.coverphoto {
  background-color: #1a161665;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.titre {
  margin-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bolder;
  z-index: 1;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.titre p {
  color: rgb(175, 202, 202);
}

.titre button {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: aqua;
  color: rgb(30, 30, 31);
  transition: 0.3s ease-in-out;
}

button:hover, .validation input:hover{
  transform: translateY(2px) scale(1.05);
  background-color: black;
  color: white;
  box-shadow: 1px 2px 5px rgb(207, 184, 184);
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  background-color: #66585880;
  padding: 3px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 3px 10px rgb(50, 144, 221);
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card1 {
  background: url(./Medias/792309_441670925905004_1967708243_o.jpg);
  background-size: cover;
}
.card2 {
  background: url(./Medias/2015-Red-Ford-Mustang-Side-Angle-Wallpaper-HD-24.jpg);
  background-size: cover;
}
.card3 {
  background: url(./Medias/935458_10151695343793083_835806879_n-1.jpg);
  background-size: cover;
}
.card4 {
  background: url(./Medias/942355_598240423540727_1861880854_n.jpg);
  background-size: cover;
}
.card5 {
  background: url(./Medias/images.jpg);
  background-size: cover;
}
.card6 {
  background: url(./Medias/Nature-HD-Wallpapers-26.jpg);
  background-size: cover;
}

section p {
  color: rgb(15, 15, 15);
  margin: 3px 0;
}

section span {
  color: white;
  font-weight: bolder;
}

button {
  margin: 3px 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: aqua;
  color: rgb(30, 30, 31);
  transition: 0.3s ease-in-out;
}

#apropos {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-items: center;
  align-items: center;
  margin-left: 10%;
}

form {
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.658);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 50%;
}

form input[type="email"] {
  padding: 3px;
  margin: 5px auto;
  width: 60%;
  background-color: transparent;
  color: white;
  text-align: center;
  border: 2px solid orangered;
  border-top: none;
  border-right: none;
  border-left: none;
}

textarea {
  padding: 3px;
  width: 60%;
  margin: 5px auto;
  background-color: transparent;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid orangered;
  margin-top: 20px;
}

::placeholder {
  color: white;
}

input:focus, textarea:focus {
  outline: none;
}


.validation{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-top: 20px;
}

.validation input{
    margin-left: 20%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.validation input[type='submit']{
    background-color: rgb(40, 40, 209);
    color: white;
    
}
.validation input[type='reset']{
    background-color: orange;
}